<!DOCTYPE html>
<html ng-app="demo">
	<head>
		<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0-rc4/angular-material.min.css">
	</head>

	<body>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>XKCD: Is It Worth the Time?</h2>
				<span flex></span>
				<md-button aria-label="Go to XKCD cartoon">
					Go to XKCD
				</md-button>
			</div>
		</md-toolbar>
		
		<div ng-controller="AppController as vm" ng-cloak class="md-inline-form">
			<md-content md-theme="docs-dark" layout-padding layout="row" layout-sm="column">
				<md-input-container>
					<label>Years till payback</label>
					<input ng-model="vm.roiyears" type="number">
				</md-input-container>
				<md-input-container>
					<label>Weeks per year</label>
					<input ng-model="vm.weeksperyear" type="number">
				</md-input-container>
				<md-input-container>
					<label>Days per week</label>
					<input ng-model="vm.daysperweek" type="number">
				</md-input-container>
				<md-input-container>
					<label>Hours per day</label>
					<input ng-model="vm.hoursperday" type="number">
				</md-input-container>
			</md-content>
			
			<md-content flex layout-padding>
				<h1>Hello World</h1>
				<p>I'm hosted with GitHub Pages.</p>
				<md-button>{{vm.title}}</md-button>
			</md-content>
		</div>
	</body>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular-animate.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular-aria.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0-rc4/angular-material.min.js"></script>
	
	<script src="./app.js"></script>
</html>